<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sd.mybatisdemo.mapper.UserMapper">
    <select id="getOneUserById" resultType="cn.sd.mybatisdemo.model.User">
        select * from user where id &gt;=#{start_id} and id &lt;=#{end_id}
    </select>
    
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" >
        insert into
          user(username,password,regtime)
        values(#{username},#{password},#{regtime})
    </insert>

    <delete id="deleteUser">
        delete from user
          where id=#{id}
    </delete>

    <update id="updateUser">
        update user
        set username = #{username},password=#{password},regtime=#{regtime}
        where id=#{id}
    </update>
</mapper>



