<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--扫描所有的组件-->
    <context:component-scan base-package="com.atguigu"></context:component-scan>

    <!--视图解析器，指定前后缀-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--直接发送一个请求，就来到某个页面。MVC视图控制器,配置了以后其它页面上的请求就用不了了。需要加上它下面的这个MVC注解驱动模式-->
    <mvc:view-controller path="/toLoginPage" view-name="login"/>
    <!--开启mvc注解驱动模式，开启了mvc的开挂模式-->
    <mvc:annotation-driven></mvc:annotation-driven>
</beans>