<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sd.mapper.ApiClassificationMapper">

    <!--resultMap的使用四：通过association标签来实现分步查询,用得比较多-->
    <select id="getOneUserById" resultMap="user_rsm">
        select *
        from api_classification
        where project_id = #{projectId}
    </select>
    <resultMap id="user_rsm" type="com.sd.pojo.ApiClassification">
        <id property="id" column="id"/>
        <result property="projectId" column="project_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <!--以下是通过association标签来实现关联查询-->
        <collection property="role" select ="com.sd.mapper.ApiMapper.getApisByclassid" column="role_id">
        </collection>

    </resultMap>
</mapper>